 <div class="user-details-about">
  <h1> About Me </h1>
</div>
<div class="user-projects-about">
  <div class="images-left-about">
    <img alt="PocketBook" src="{{ "/assets/img/Myself.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right-about">
    <h1> Justin Tan Kun Jie</h1>
	<h2> Student / BackEnd Engineer</h2>
	<div class = "devicon">
		<i class="devicon-c-plain-wordmark colored"></i>
		<i class="devicon-csharp-plain-wordmark colored"></i>
		<i class="devicon-java-plain-wordmark colored"></i>
		<i class="devicon-python-plain-wordmark colored"></i>
		<i class="devicon-android-plain-wordmark colored"></i>
		<i class="devicon-github-plain-wordmark colored"></i>
		<i class="devicon-confluence-plain-wordmark colored"></i>
	</div>
    <p>I am a student in NUS, pursuing a degree in Computer Engineering. I have experience and academic excellence in Java(& java8), python (Machine Learning) and C. Constantly looking for new challenges.</p>
    <div class = "button">
    	<a href="assets/img/resume.pdf" class="button" download><i class="fa fa-download"></i>Download CV</a>
	</div>
  </div>
</div>