<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Cat Survival Game" src="{{ "/assets/img/Demo.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cat Survival Game </h3>
    <ul>
      <li> Description</li>
    </ul>
    <p>A 2D java survival game. Cats and rats will spawn randomly in the map, where the cat attempts to eliminate them through firing projectiles. Highscore x`ard keeps track of all-time high score of user locally.</p>
    <a class="project-link" href="https://github.com/justintkj/CatSurvivalGame">Code @ github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="PocketBook" src="{{ "/assets/img/PocketBook.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> PocketBook </h3>
    <ul>
      <li> Description</li>
    </ul>
    <p>An addressbook CLI application made with java. It is created for a module requirement in NUS (CS2103) with a team of 4 people. Grade : A+</p>
    <a class="project-link" href="https://github.com/CS2103AUG2017-F09-B3/main">Code @ github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <iframe width="650" height="300"src="https://www.youtube.com/embed/A_GjkbOcCqc">
    </iframe>
  </div>
  <div class="contents-right">
    <h3> Autonomous Arduino Vehicle with Bluetooth control </h3>
    <ul>
      <li> Description</li>
    </ul>
    <p>As part of Ngee Ann Polytechnic's half-year FYP, an arduino bluetooth - controlled vehicle with autonomy option is created. Sonar Sensors are used in polling method. Grade: A</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img class="mySlides" src="{{ "/assets/img/Frontback.gif" | prepend: site.baseurl }}" width = 180 height = 315 />
    <img class="mySlides" src="{{ "/assets/img/Jump.gif" | prepend: site.baseurl }}" width = 180 height = 315 />
    <img class="mySlides" src="{{ "/assets/img/Jumpleftright.gif" | prepend: site.baseurl }}" width = 180 height = 315 />
    <img class="mySlides" src="{{ "/assets/img/Number6.gif" | prepend: site.baseurl }}" width = 180 height = 315 />
    <img class="mySlides" src="{{ "/assets/img/SideStep.gif" | prepend: site.baseurl }}" width = 180 height = 315 />
    <img class="mySlides" src="{{ "/assets/img/Squadturnclap.gif" | prepend: site.baseurl }}" width = 180 height = 315 />
    <img class="mySlides" src="{{ "/assets/img/Turnclap.gif" | prepend: site.baseurl }}" width = 180 height = 315 />
    <img class="mySlides" src="{{ "/assets/img/Wavehands.gif" | prepend: site.baseurl }}" width = 180 height = 315 />
    <img class="mySlides" src="{{ "/assets/img/Window360.gif" | prepend: site.baseurl }}" width = 180 height = 315 />
    <img class="mySlides" src="{{ "/assets/img/Windowcleaning.gif" | prepend: site.baseurl }}" width = 180 height = 315 />
  </div>
  <div class="contents-right">
    <h3> Dance Dance </h3>
    <ul>
      <li> Description</li>
    </ul>
    <p>Detect labelled dance moves using Machine Learning, coursework CG3002. Grade: A
      <br> <b>Arduino</b>: Obtain sensor values and output to the rasphberry Pi 
      <br> <b>Rasphberry Pi</b>: Load sensor values into Machine Learning model, send the prediction to the server 
      <br> <b>Machine Learning</b>: Processing raw sensor data and to output the prediction.</p>
    <a class="project-link" href="https://github.com/huyuanrong/CG3002-NUS-AY1718-Sem2-Grp1-">Code @ github</a>
  </div>
</div>