<div class="testimonials">
  <h1> Testimonials </h1>
</div>
<div class="slider">
  <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
  <input type="radio" name="slider" title="slide2" class="slider__nav"/>
  <input type="radio" name="slider" title="slide3" class="slider__nav"/>
  <div class="slider__inner">
    <div class="slider__contents"><img alt="Ninjavan" src="{{ "/assets/img/ninjavan.png" | prepend: site.baseurl }}" />
      <h2 class="slider__caption">Gavin Grierson | Engineering Manager</h2>
      <i-r class="fa fa-quote-left fa-2x" aria-hidden="true"></i-r>
      <p class="slider__txt">Pending Gavin's Testimonial</p>
      <i-l class="fa fa-quote-right fa-2x" aria-hidden="true"></i-l>
    </div>
    <div class="slider__contents"><img alt="Singapore Armed Forces- Signal Institute" src="{{ "/assets/img/SAFlogo.png" | prepend: site.baseurl }}" />
      <h2 class="slider__caption">Col Percival Goh | Chief Signal Officer</h2>
      <i-r class="fa fa-quote-left fa-2x" aria-hidden="true"></i-r>
      <p class="slider__txt">Responsible and takes pride in his work, embodies quality trademark of a great leader.</p>
      <i-l class="fa fa-quote-right fa-2x" aria-hidden="true"></i-l>
     </div>
    <div class="slider__contents"> <img alt="ST-Aerospace" src="{{ "/assets/img/ST-Aerospace.jpg" | prepend: site.baseurl }}" />
      <h2 class="slider__caption">David Quek | Principal Engineer</h2>
      <i-r class="fa fa-quote-left fa-2x" aria-hidden="true"></i-r>
      <p class="slider__txt">Diligent and professional in performing tasks assigned to him.</p>
      <i-l class="fa fa-quote-right fa-2x" aria-hidden="true"></i-l>
    </div>
  </div>
</div>