<div class="testimonials">
  <h1> Testimonials </h1>
</div>
<div class="testimonials-details">
  <div class="images-right">
    <img alt="Ninjavan" src="{{ "/assets/img/ninjavan.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> NinjaVan </h3>
    <ul>
      <li> Software Engineer - BackEnd</li>
    </ul>
    <p>Backend Software Engineer for Driver app using Java8 and play Framework. Proficient in asynchronous programming and REST Api. Uses JIRA and BitBucket tool for project managemenet.</p>
    <a class="project-link" href="sample-testimonials.pdf">Testimonial</a>
  </div>
</div>
<div class="testimonials-details">
  <div class="images-left">
    <img alt="Singapore Armed Forces- Signal Institute" src="{{ "/assets/img/SAFlogo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Signal Institute </h3>
    <ul>
      <li> Head Logistic Support Branch - Lieutenant</li>
    </ul>Manages logisitical support in the camp.</p>
    <a class="project-link" href="SAF-Testimonial.pdf">Testimonial</a>
  </div>
</div>
<div class="testimonials-details">
  <div class="images-right">
    <img alt="ST-Aerospace" src="{{ "/assets/img/ST-Aerospace.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ST-Aerospace </h3>
    <ul>
      <li>Electrical Engineer </li>
    </ul>
    <p>Manages Electrical Load Analysis reports for Passenger to Freighter airplane conversion using Microsoft Excel Basic Macro and tools. Verifies electrical schematic diagrams as a secondary task. Grade: A+.</p>
    <a class="project-link" href="STaero-Testimonial.jpg">Testimonial</a>
  </div>
</div>