<div class="testimonials">
  <h1> Testimonials </h1>
</div>
<div class="testimonials-details">
  <div class="images-right">
    <img alt="Ninjavan" src="{{ "/assets/img/ninjavan.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> NinjaVan </h3>
    <ul>
      <li> Software Engineer - BackEnd</li>
    </ul>
    <p>Backend Software Engineer for Driver app using Java8 and play Framework. Proficient in asynchronous programming and REST Api. Uses JIRA and BitBucket tool for project managemenet.</p>
    <a class="project-link" href="sample-testimonials.pdf">Testimonial</a>
  </div>
</div>
