#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  background: url(../../background1.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: 100% 100%;
  -o-background-size: cover;
  background-size: 100% 100%;
}
.user-details {
  text-align: center;
}
.user-projects {
  margin: 20px auto;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h5 {
  color:white;
    margin: 0;
  }
  li {
    color:white;
    font-size: 1.1rem;
  }
  p {
    color:white;
    margin-right: 5px;
  }
  a {
    color:white;
    border-color: white;
  }
}

.contents {
  @media only screen and (min-width: $cut) {
    color:white;
    margin-left: 0;
    width: 48%;
  }
}

.contents-right {
  @media only screen and (min-width: $cut) {
    padding-top: 20px;
    float: right;
    margin-top: -5%;
    width: 48%;
  }
}
.images-right {
  @media only screen and (min-width: $cut) {
    float: right;
    width: 48%;
  }
  img {
    @media only screen and (min-width: $cut) {
      float: right;
    }
  }
}

.images-left {
  @media only screen and (min-width: $cut) {
    float: left;
    width: 48%;
  }
  img {
    @media only screen and (min-width: $cut) {
      float: left;
    }
  }
}

.project-link {
  display: block;
  width: 100px;
  margin: 10px 0px;
  padding: 5px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
  &:hover {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
  &:active {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
}